.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    margin-top: 1px;
}

p.product-details {
    line-height: 2;
}

div.add-to-cart i.fa-cart-plus {
    vertical-align: -2px;
}

#nav-introduction,
#nav-investigation,
#nav-particulars {
    line-height: 2;
}

.description-bullet {
    top: -7.5px;
    right: -7.5px;
}

.description-bullet~div {
    max-width: 450px;
    margin: 0 auto;
}

.product-description:last-child{
    border-bottom: 3px solid #efefef;
}

.product-description hr{
        margin: 20px 20px;
        border: 1px solid #efefef;
}